

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Series</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-2/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-2/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-2/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-2/css/brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-2/css/solid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
    <style>
      
      .media {
        background-color: #ddd2d2;
        padding: 1px 2px;
      }
      
    .media-parent {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
    .media-child {
        width: 70%;
        margin: 0 auto;
        align-self: auto;
        align-items: center;
      }

      .media-child {
        width: 70%;
        margin: 0 auto;
        align-self: auto;
        align-items: center;
      }
    </style>
</head>
<body>
  <nav class="navbar bg-dark border-bottom border-body navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AJAY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav-pills nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home"><span><i class="fa-solid fa-house"></i></span>  Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/games">  <span><i class="fa-solid fa-gamepad"></i></span> Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/download"> <span> <i class="fa-solid fa-download"></i></span> Free download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stream"><span><i class="fa-solid fa-circle-play"></i></span> 
                stream</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  aria-current="page" href="/series"><span><i class="fa-solid fa-film"></i></span> Series</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 

  <main>
    <section class="hero">
      <h1>WELOCOME TO YOU LOCALINTERNET</h1>
    </section>

    <section  class="container text-center">
      <div class="media-parent">
        <div class="media-child">
          <video id="player_one" class="video-js vjs-fluid" controls preload playsinline poster="../examples/assets/images/poster.jpg" controlsList="nodownload"> 
            <source src={{video_link}} type="video/mp4">
          </video>
        </div>
      </div>
    </section>
    <div class="container text-center">
        <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
            {% for content_id,content_name, image_path in content %}
              <div class="container">
                <a href="/specific_series/{{ content_id | escape }}">
                  <img src="image/{{ content_id }}" alt="{{ content_name }}">
                </a>
                <button><a href="/buy/{{content_id}}" BUY>BUY</a></a></button>
                <p>{{ content_name }}</p>
              </div>
            {% endfor %}
        </div>
      </div>

  </main>

  <script src="{{ url_for('static', filename='bootstrap-2/js/bootstrap.bundle.js') }}"></script>
</body>
</html>

 

