


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <link rel="stylesheet" href="/home/brian/PROJECTS/ONLINE CYBER/static/c_style.css">
    <script src="/home/brian/PROJECTS/ONLINE CYBER/static/c_style.js"></script>
</head>
<body>
    <div class="video-player-container">
        <div class="video-player">
            <video id="video" width="80%" height="80%" controls>
              <source src={{video_link}} type="video/{{video_type}}">
            </video>
            <div class="controls">
                <button id="play-pause" aria-label="Play/Pause"></button>
                <button id="mute" aria-label="Mute/Unmute"></button>
                <button id="fullscreen" aria-label="Fullscreen"></button>
                <div class="seek-bar">
                    <input type="range" id="seek" min="0" value="0">
                    <div class="seek-bar-fill" style="width: 0%"></div>
                </div>
                <div class="time-display">
                    <span id="current-time">00:00</span> / <span id="duration">00:00</span>
                </div>
            </div>
          </div>

      <div class="playlist-container">
        <h2>Playlist</h2>
        <div class="container-grid">
          {% for video_id ,name , video_image in content %}
          <a class="playlist-item">
            <a href="/specific_series/{{ video_id | escape }}">
              <img src="/image/{{ video_id }}" alt="{{ name }}">
            ></a>
            <p>{{ name }}</p>
          </a>
          {% endfor %}
        </div>
      </div>
    <script src="script.js"></script>
</body>
</html>